body {
  font-family: 'Quicksand', sans-serif;
  background: linear-gradient(135deg, #bfff00, #ffff00);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background: white;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 350px;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  border-radius: 12px;
  background-color: #f0f8ff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

button {
  font-size: 18px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #000000;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background: #808080;
  transform: scale(1.05);
}


#messages {
  margin-top: 20px;
  font-size: 16px;
  color: #555;
}

.footer {
  background-color: #ffff00;
  padding: 20px 10px;
  text-align: center;
  border-radius: 12px;
  margin-top: 12px;
}
